[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
redis = "*"
celery = "*"
psycopg2 = "*"
pillow = "==8.4.0"
django-osm-field = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
drf-yasg = "*"
gdal = "==3.8.4"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
